#main{

    width: 900px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid white;
}
h2{
    color: brown;
}
#computerPart{

    /*border:1px dashed black;*/
    position: relative;
   float: left;
}
#center{

    width: 150px;
    margin: 0 auto;
    /*border:1px dashed black;*/
    position: relative;
    margin-top: 70px;

}
#center>h2{
    color: black;
}
#humanChoice{

    /*border:1px dashed black;*/
    float: right;
    text-align: center;

}

#choose{

    margin: 20px;
}
#stone{
  ;
}
#scissors{
 ;
}
#paper{
;
}
.button{
    /*border: 1px solid black;*/
    width: 100px;
    height: 50px;
    position: relative;
    float: left;
    cursor: pointer;
    line-height: 50px;
    background-color: darkolivegreen;
    box-shadow: 1px 0px #2F4F4F,
                1px 1px #2F4F4F,
                2px 1px #2F4F4F,
                2px 2px #2F4F4F;

    margin: 2px;
    border-radius: 5px;
}
.button:active{
    background-color: yellowgreen;
}


.shake {
-webkit-animation: shake 1.5s;
    -moz-animation: shake 1.5s;
    -ms-animation: shake 1.5s;
    animation: shake 1.5s;
}
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-webkit-transform: translateY(30px);
        -webkit-animation-timing-function: ease-out; }
    29%, 57%, 86% {-webkit-transform: translateY(-30px);
        -webkit-animation-timing-function: ease-out}
}
@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-moz-transform: translateY(30px);
        -moz-animation-timing-function: ease-out; }
    29%, 57%, 86% {-moz-transform: translateY(-30px);
        -moz-animation-timing-function: ease-out}
}
@-o-keyframes shake {
    0%, 100% {-o-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-o-transform: translateY(30px);
        -o-animation-timing-function: ease-out; }
    29%, 57%, 86% {-o-transform: translateY(-30px);
        -o-animation-timing-function: ease-out}
}
@-ms-keyframes shake {
    0%, 100% {-ms-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-ms-transform: translateY(30px);
        -ms-animation-timing-function: ease-out; }
    29%, 57%, 86% {-ms-transform: translateY(-30px);
        -ms-animation-timing-function: ease-out}
}
@keyframes shake {
    0%, 100% {transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {transform: translateY(30px);
        animation-timing-function: ease-out; }
    29%, 57%, 86% {transform: translateY(-30px);
        animation-timing-function: ease-out}
}

