.day{
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    background-color: lemonchiffon;
    font-size: large;
    text-align: center;
    font-weight: bold;
}
#upper{
    /*position: relative;*/
    width: 700px;
    margin: 0 auto;
    line-height: 100px;

}
#bottom{
    position: absolute;
    width:100%;

}

body{
    background-color: aquamarine;
}

.selected_day{
    background-color: red;
    height: 250px;
}
#pointer{
    position: relative;
    top:100px;
    height: 100px;
    width: 150px;
}
.selected_bottom{
    left: 0px;
    top: 250px;
    height: 100px;
    width: 100%;
    background-color: red;

}