h1{
    color: yellowgreen;
    text-shadow: black 1px 0,
                black 1px 1px,
                black 0 1px,
                black -1px 1px,
                black -1px 0,
                black -1px -1px,
                black 0 -1px,
                black 1px -1px;
}
body{
    background-color: beige;
}
#news{

    text-align: center;
    font-size: 16px;
    line-height: 0.5em;
}
#choose{
    color: black;
    text-align: center;
    text-decoration: underline;
}
#underline{
    color: cornflowerblue;
    text-decoration: none;
}
img{
    height: 10%;
    width: 10%;
    border: 1px solid black;
    margin-left: 10px;
    cursor: pointer;

}
#shellGame{
    margin-top: 50px;
    text-align: center;
}

#center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
h2{
    color: red;
    text-decoration: none;
}

.loser{

    background-color: black;
    border-color: red;
    border-width: 2px;

}
.winner{
    border-radius: 150px;
    border-color: green;
}


.info{
    display: inline-table;
    border: solid black 2px;
}

#wins_amount{
    color: green;
}
#loses_amount{
    color: red;
}
.reset{
    width: 100px;
    height: 40px;
    background-color: limegreen;
    border-radius: 15px;
    position: relative;
    left: 50%;

}
#changeBackground{
    width: 120px;
    height: 50px;
    background-color: dodgerblue;
    box-shadow: 5px 5px 1px 2px black;
    font-size: 16px;
    color: white;
    text-shadow: black 1px 0,
    black 1px 1px,
    black 0 1px,
    black -1px 1px,
    black -1px 0,
    black -1px -1px,
    black 0 -1px,
    black 1px -1px;
    left: 50%;


}
#changeColor{
    text-align: center;
    margin: 100px auto;
}